<a href="https://colab.research.google.com/github/hyehyuni/essa/blob/main/%EC%A0%95%EA%B7%9C%EC%84%B8%EC%85%98_0519_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%ED%9A%8C%EA%B7%801.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 단순 선형 회귀 분석**
- 전복의 나이를 예측하는 선형회귀모델을 생성하세요.
- 전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 이용해 ‘껍질의 고리 수’를 예측한 뒤, **예측된 ‘껍질의 고리 수’에 1.5를 더하면 전복의 나이**가 됩니다.

In [1]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**1) 데이터 load 및 변형**

In [10]:
# 데이터 로드
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/esaa/자료/abalone.csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [11]:
data

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,True,False,False
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,True,False,False
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,False,True,False
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,True,False,False
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,False,True,False
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,True,False,False
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,True,False,False
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,False,True,False
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,True,False,False

In [12]:
# X,y 데이터 선택
y =  data['Rings']
data2=data.drop('Rings', axis=1)

In [14]:
X=data2.astype(np.float)

<ipython-input-14-a74bc42cd7bd>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X=data2.astype(np.float)

In [18]:
y.head()

0    15
1     7
2     9
3    10
4     7
Name: Rings, dtype: int64

In [20]:
X.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,1.0,0.0,0.0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,1.0,0.0,0.0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,0.0,1.0,0.0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,1.0,0.0,0.0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,0.0,0.0,1.0

 **3) train/test set 분리**

In [21]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [22]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [23]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [24]:
#선형회귀모델 생성 및 훈련
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [29]:
# 모델 예측치 구하기
y_pred = model.predict(X_test)

# 모델 예측치를 활용해 최종적으로 전복의 나이를 예측
y_pred2 = y_pred + 1.5

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [30]:
#필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

- MSE, RMSE

In [31]:
#mse, rmse
mse=mean_squared_error(y_test, y_pred2)
rmse=np.sqrt(mse)
print(f'mse : {mse}')
print(f'rmse : {rmse}')

mse : 7.595908175625109
rmse : 2.75606752014988

- R2 score

In [32]:
#R2 score 측정
r2=r2_score(y_test, y_pred2)
print(f'R2_score: {r2}')

R2_score: 0.2834841290906108

- 회귀 절편값

In [33]:
#회귀 절편 값
print('절편 값:', model.intercept_)

절편 값: -13357817046749.242

- 회귀 계수 값

In [35]:
#회귀 계수 값
print('회귀 계수값:', np.round(model.coef_,3))

회귀 계수값: [-3.2400000e-01  1.0091000e+01  1.9720000e+01  8.8110000e+00
 -1.9398000e+01 -9.5480000e+00  6.4320000e+00  1.3357817e+13
  1.3357817e+13  1.3357817e+13]

- 상관계수

Hint: corr 함수 이용.

In [37]:
# 상관계수 구하기
cor=np.corrcoef(y_test, y_pred2)[0,1]
cor

0.7266393909069349

# **2. Polynomial features**

In [39]:
# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures

In [40]:
# 임의 데이터 생성

X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [41]:
# 차원은 2로 설정
# fit_transform 메소드를 통해 데이터 변환
# PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환

poly = PolynomialFeatures(degree=2)
poly.fit(X)
poly_ftr = poly.transform(X)
df_poly = pd.DataFrame(poly_ftr)
df_poly

     0    1    2     3     4     5
0  1.0  0.0  1.0   0.0   0.0   1.0
1  1.0  2.0  3.0   4.0   6.0   9.0
2  1.0  4.0  5.0  16.0  20.0  25.0

In [42]:
# df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경
df_poly.columns = ['1','x1','x2','x1^2','x1*x2','x2^2'] 
df_poly

     1   x1   x2  x1^2  x1*x2  x2^2
0  1.0  0.0  1.0   0.0    0.0   1.0
1  1.0  2.0  3.0   4.0    6.0   9.0
2  1.0  4.0  5.0  16.0   20.0  25.0